* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
    background-color: #fdecef;
    margin: 10px;
  }
  .left {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%;
    text-align: center;
  }
  
  .left-inner{
    position:fixed;
    overflow: auto;
    display: block;
    background-color: #212529;

  }
  
  .right-inner {
    background-color: #e5e5e5;
  }
  
  .right {
    padding-right: 10px;
    padding-left: 10px;
    float: right;
    width: 75%;
  }
  
  .title {
    font-weight: bold;
    font-family: "Merriweather", serif;
    line-height: 1.5;
    color: white;
    background-color: rgb(0, 0, 0);
    padding-left: 3%;
  }
  
  /* .clearfix::after {
  content: "";
  clear: both;
  display: table;
  }  */
  
  .avatar {
    display: block;
    transition: transform 0.2s;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0);
  }
  
  .avatar:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
  }
  
  .avatar-outer {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .center2 {
    text-align: center;
    border: 3px solid rgb(238, 98, 98);
    background-color: rgb(238, 98, 98);
  }
  
  .textCenter {
    color: #e3edf7;
    font-style: bold;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 20px;
  }
  
  .menu {
    padding-bottom: 10px;
  }
  
  .menu-h1 {
    font-size: 2rem;
    font-weight: 800;
    background-color: #e3edf7;
    padding: 7px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: block;
    width: 100%;
    color: black;
  }
  
  .icon-menu {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  
  .icon-menu ul {
    list-style: none;
  }
  
  .icon-menu ul li {
    display: inline-block;
  }
  
  .icon-menu ul li a {
    display: inline-block;
  }
  
  .icon-menu ul li a img {
    display: block;
    width: 50%;
  }
  
  .icon-menu ul li a:hover img {
    transform: scale(1.5);
  }
  
  .section-select {
    background-color: #e3edf7;
    padding: 5px;
    padding-left: 10%;
    margin-top: 3px;
    display: block;
    width: 100%;
    color: black;
  }
  
  .section-select a {
    font-weight: 800;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .section-select a:hover {
    background-color: black;
    color: white;
  }
  
  .menu a:first-child {
    padding-top: 0px;
  }
  
  .about-me {
    width: 100%;
    float: left;
    padding-bottom: 10px;
  }
  
  .table1 {
    text-align: center;
    width: 100%;
    border: #111 solid 10px;
  }
  
  .table1-th {
    font-size: 2.5rem;
    height: 80px;
    border: #111 solid 10px;
  }
  
  .table1-tr {
    height: 280px;
    border: #111 solid 10px;
  }
  
  .table1-td {
    width: 33%;
    border: #111 solid 10px;
  }
  
  .table2 {
    width: 100%;
    padding: 0 0 0 0;
    border-style: none;
  }
  
  .table2 td {
    width: 33%;
  }
  
  .table3 {
    width: 100%;
    padding: 0 0 0 0;
    border-style: none;
  }
  
  .table3-td1 {
    width: 30%;
  }
  
  .table3-td2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 1.7rem;
    width: 60%;
  }
  
  .table3-td3 {
    width: 10%;
    font-size: 1.5rem;
    font-weight: 900;
  }
  
  .table3-td1 img {
    width: 80%;
  }
  
  .td-text {
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    font-size: 1.2rem;
  }
  
  .bigLetter {
    width: 650px;
    text-align: left;
    float: right;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 250px;
    padding-bottom: 100px;
    /* font-family: 'Merriweather', serif; */
  }
  
  .bigLetter::first-letter {
    color: white;
    background-color: black;
    border-radius: 2px;
    box-shadow: 3px 3px 0 lightsalmon;
    font-size: 250%;
    padding: 20px 20px;
    margin-right: 6px;
    margin-top: -10px;
    float: left;
  }
  
  /* .vl {
  border-left: 10px solid rgb(255, 255, 255);
  height: 2648px;
  position: absolute;
  left: 25%;
  } */
  
  /* Back to top button */
  
  .contactIcon {
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
  }
  
  div#ContactIcon {
    margin: 0;
    text-align: center;
  }
  
  div#ContactIcon li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .scrollToTopBtn {
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 25px;
    font-weight: 1000;
    line-height: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: #e3edf7 solid 3px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
  }
  
  .scrollToTopBtn:hover {
    background-color: rgb(255, 255, 255);
    border: red solid 3px;
    color: rgb(0, 0, 0);
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0);
  }
  /* End of back to top button */
  
  /* Programming Skills*/
  
  .cell-outer {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-left: 70px;
  }
  
  .cell {
    margin-top: 20px;
    margin-left: 70px;
    float: left;
    position: relative;
    text-align: center;
  }
  
  .cell hr {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
  }
  
  .skill {
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 160px;
    position: relative;
  }
  
  .outer {
    position: relative;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }
  
  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  }
  
  .numberProgress {
    font-size: 30px;
    font-weight: 600;
    color: #555;
    top: 50%;
    left: 50%;
  }
  
  circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
  }
  
  #cirle1 {
    border: #03a9f4 solid 10px;
    animation: anim1 2s linear forwards;
  }
  
  #cirle2 {
    animation: anim2 2s linear forwards;
  }
  
  #cirle3 {
    animation: anim3 2s linear forwards;
  }
  
  #cirle4 {
    animation: anim4 2s linear forwards;
  }
  
  #cirle5 {
    animation: anim5 2s linear forwards;
  }
  
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  
  @keyframes anim1 {
    100% {
        stroke-dashoffset: 200; /* 200 */
    }
  }
  
  @keyframes anim2 {
    100% {
        stroke-dashoffset: 250; /* 250 */
    }
  }
  
  @keyframes anim3 {
    100% {
        stroke-dashoffset: 175; /* 175 */
    }
  }
  
  @keyframes anim4 {
    100% {
        stroke-dashoffset: 330; /* 330 */
    }
  }
  
  @keyframes anim5 {
    100% {
        stroke-dashoffset: 230; /* 230 */
    }
  }
  
  /* end of programming skills*/
  
  /* Experience */
  .exp h2{
    font-family: DFKai-SB;
  }
  
  .exp p{
    font-family: DFKai-SB;
    font-size: 30px;
  }
  /* INTRO SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .container {
    width: 100%;
    max-width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #111;
  }
  
  /* h1 {
    font-size: 2.5rem;
  } */
  
  /* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .timeline {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  
  .timeline-line {
    clear: both;
    border: #e3edf7 solid 2px;
  }
  
  .timeline ul li div img {
    position: relative;
    float: left;
    width: 100px;
    padding-bottom: 10px;
    margin-right: 10px;
    z-index: 1;
  }
  
  .timeline ul li div:hover img {
    transform: scale(6);
  }
  
  .timeline ul li div p {
    padding: auto;
    clear: right;
  }
  
  .timeline ul {
    padding: 50px 0;
  }
  
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #1e1f22;
  }
  
  .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
  }
  
  .timeline ul li div {
    height: auto;
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background-color: #1e1f22;
    color: white;
    border-radius: 10px;
  }
  
  .timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #1e1f22 transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #1e1f22;
  }
  
  /* h2 {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  } */
  
  /* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul li::after {
    transition: background 0.5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
    background: #1e1f22;
  }
  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
  }
  
  @media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #1e1f22 transparent transparent;
    }
  }
  
  /* EXTRA/CLIP PATH STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
  }
  
  .timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  
  .timeline-rhombus ul li div::before {
    bottom: 12px;
  }
  
  .timeline-star ul li::after {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }
  
  .timeline-heptagon ul li::after {
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  }
  
  .timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
  }
  
  @keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.25);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
  }
  
  /* End of experience */
  
  /* Start of sideshow */
  
  .slideshow-outer {
    border: #303030 solid 10px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .slideshow-after {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /* End of sideshow */
  
  /* Start of footer */
  .footer {
    clear: both;
    background-color: #111;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .hr-footer {
    clear: both;
    border-top: 10px solid rgb(255, 255, 255);
  }
  
  /* End of footer */
  
  @media only screen and (max-width: 700px) {
    /* For mobile phones: */
    .right,
    .left,
    .bigLetter {
        width: 100%;
    }
  }